$blog_post_color: #7b787840;

#post__content {
  background-color: #f4f4f4;
  border-right: 8px solid #c9c3c3;
}

#post_form {
  background-color: #fafafa;
  box-shadow: 4px 2px 13px 1px #dcdcdc;
  -webkit-box-shadow: 4px 2px 13px 1px #dcdcdc;
  -moz-box-shadow: 4px 2px 13px 1px #dcdcdc;
  -ms-box-shadow: 4px 2px 13px 1px #dcdcdc;
  -o-box-shadow: 4px 2px 13px 1px #dcdcdc;
}

.display_blog_post {
  margin-top: 20px;
  background-color: #fff;
  padding: 30px;
  border: 2px solid #7b787840;
  p.post-details {
    color: #6b6b6b;
  }
  .author-and-date {
    background-color: #fff;
    font-size: 12px;
    color: #847e7d;
    position: relative;
    .published {
      margin-left: 15px;
    }
    .fa-calendar-check-o {
      color: #ed563b;
      font-size: 14px;
    }
    .fa-user {
      color: #ed563b;
      font-size: 14px;
    }
  }
  div.action {
    position: relative;
    float: right;
    margin-top: 22px;
  }
}

/*Footer Style*/
.footer {
  background-color: #dedede;
  margin-top: 40px;
  color: #a29191;
  p {
    font-size: 11px;
  }
}
