$blog_post_color: #7b787840;

# post__content {
    background - color: #f4f4f4;
    border - right: 8 px solid# c9c3c3;
}

# post_form {
    background - color: #fafafa;
    box - shadow: 4 px 2 px 13 px 1 px# dcdcdc; -
    webkit - box - shadow: 4 px 2 px 13 px 1 px# dcdcdc; -
    moz - box - shadow: 4 px 2 px 13 px 1 px# dcdcdc; -
    ms - box - shadow: 4 px 2 px 13 px 1 px# dcdcdc; -
    o - box - shadow: 4 px 2 px 13 px 1 px# dcdcdc;
}

.display_blog_post {
    margin - top: 20 px;
    background - color: #fff;
    padding: 30 px;
    border: 2 px solid #7b787840;
  p.post-details {
    color: # 6 b6b6b;
}
.author - and - date {
        background - color: #fff;
        font - size: 12 px;
        color: #847e7d;
    position: relative;
    .published {
      margin-left: 15px;
    }
    .fa-calendar-check-o {
      color: # ed563b;
        font - size: 14 px;
    }
    .fa - user {
        color: #ed563b;
        font - size: 14 px;
    }
}
div.action {
    position: relative;
    float: right;
    margin - top: 22 px;
}
}

/*Footer Style */
.footer {
    background - color: #dedede;
    margin - top: 40 px;
    color: #a29191;
    p {
        font - size: 11 px;
    }
}