#post__content {
  background-color: #f4f4f4;
  border-right: 8px solid #c9c3c3;
}

#post_form {
  background-color: #fafafa;
  box-shadow: 4px 2px 13px 1px #dcdcdc;
  -webkit-box-shadow: 4px 2px 13px 1px #dcdcdc;
  -moz-box-shadow: 4px 2px 13px 1px #dcdcdc;
  -ms-box-shadow: 4px 2px 13px 1px #dcdcdc;
  -o-box-shadow: 4px 2px 13px 1px #dcdcdc;
}
.display_blog_post {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
}
.display_blog_post p.post-details {
  color: #6b6b6b;
}
.author-and-date {
  background-color: #fff;
  font-size: 12px;
  color: #847e7d;
}
.author-and-date .published {
  margin-left: 15px;
}
.author-and-date .fa-calendar-check-o,
.author-and-date .fa-user {
  color: #ed563b;
  font-size: 14px;
}
div.action {
  position: relative;

  float: right;
  margin-top: 22px;
}
